---
interface Props {
  name: string;
  title: string;
  location: string;
}

const { name, title, location } = Astro.props;
---

<div class="text-center mb-16">
  <h1 class="text-5xl font-bold mb-3 text-gray-900">
    {name}
  </h1>
  <p class="text-xl text-gray-700 mb-2 font-medium tracking-wide">{title}</p>
  <p class="text-gray-600">{location}</p>
</div>