---
interface Props {
  categories: {
    [key: string]: string[];
  };
}

const { categories } = Astro.props;
---

<section class="mb-20 animate-slide-up">
  <h2 class="text-3xl font-semibold mb-8 text-gray-800">Technical Skills</h2>
  <div class="space-y-8">
    {Object.entries(categories).map(([category, skills]) => (
      <div>
        <h3 class="text-xl font-medium mb-4 capitalize text-gray-700">{category}:</h3>
        <div class="flex flex-wrap gap-3">
          {skills.map((skill) => (
            <span class="px-4 py-2 bg-white shadow-sm border border-gray-100 rounded-lg text-gray-700 hover:border-blue-300 hover:text-blue-600 transition-all duration-200 cursor-default">
              {skill}
            </span>
          ))}
        </div>
      </div>
    ))}
  </div>
</section>